<%- (include('../includes/head.ejs')); %>
<%- (include('../includes/navigation.ejs')); %>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/forms.css">


    
    <h1>Add-Customer Page</h1>
    <main>
        <form class="customer-form" action="/add-customer" method="POST">
            <div>
                <div class="form-control">
                    <label for="fName" class="form-control">First Name:</label>
                    <input class="form-control" type="text" name="fName">
                </div>
                <div class="form-control">   
                    <label for="lName" class="form-control">Last Name:</label>
                    <input class="form-control" type="text" name="lName">
                </div>
                <div class="form-control"> 
                    <label for="email"class="form-control" name="email">Email:</label>
                    <input class="form-control" type="text" name="email">
                </div>
                <button type="submit" class="form-btn">Enter</button>
            
            </div>
        </form>
    </main>
<%- (include('../includes/footer.ejs')); %>