
<header>
    <ul>
        <div class="nav-bar">
            <li class="nav-bar__item">
                <a href="/">Home Page</a>
            </li>
            <li class="nav-bar__item">
                <a href="/add-customer">Add-Customer Page</a> 
            </li>
            <li class="nav-bar__item">
                <a href="/customers">Customers Page</a>
            </li>
            <li class="nav-bar__item">
                <a href="/add-product">Add-Product</a>
            </li>
            <li class="nav-bar__item">
                <a href="/products">Products Page</a>
            </li>
            <li class="nav-bar__item">
                <a href="/shop/cart">Cart</a>
            </li>
            <li class="nav-bar__item">
                <a href="/checkout/">Checkout</a>
            </li>
            <li class="nav-bar__item">
                <a href="/contact-info">Contact Info</a>
            </li>
            <li class="nav-bar__item">
                <a href="/admin">Admin</a>
            </li>

        </div>
    </ul>
</header>



