body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background: #ebecee;
    writing-mode: horizontal-tb;

}
h1 {
    text-align: center;
    font-family: "Monserrat", sans-serif;
    color: #248886;
    font-size: 3rem;
    

   

}
.nav-bar {
    display: flex;
    background-color: #252588;
    margin: 0;
    padding: 0;
    height: 75px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    
    
}

ul  {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* CUSTOMERS PAGE GRID DISPLAY */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
    padding: 0;
    margin: 0 45px;
    grid-gap: 15px;
    
}
.grid2 {
    grid-auto-flow: row;

}
.item {
    font-size: 1rem;
    border: 2px solid #252588;
    border-radius: 10px;
    box-shadow:  5px 5px #6d6d6d;
    color: #6d6d6d;
    
    
}
.item-content {
    padding-left: 5px;
    margin: 9px;
    
}

/* CARD DISPLAY PRODUCTS PAGE */

.card {
    /* Add shadows to create the "card" effect */
    
    transition: 0.3s;
    max-width: 250px;
    margin: 30px;
    font-family: "Montserrat", sans-serif;
    background: white;
    border-radius: 5px;
    
  }
  .centered {
      text-align: center;

  }

.container {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
  }
img {
    width: 100%;
    height: auto;
    border-radius: 0 5px;
}
.card-header {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px auto 0;
    padding: 0;
}
.card-header::after {
    content: "";
    display: block;
    background: #252588;
    width: 85%;
    height: 1px;
    margin: 10px auto 0;
    padding: 0;
    
}
.card-content1 {
    font-size: 1rem;
    margin: 0 auto;

}
.card-content2 {
    font-size: .8rem;
    margin: 10px 10px;
}
.card-content1,
.card-content2 {
    text-align: center;
}
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 16px 0 #00000080;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 20px; 
    color: #b1f4f3;
}
a:hover {
    color: #248886;
}

a.btn1 {
    border: 1px solid #252588;
    color: #252588;
    display: inline-block;
    width: 40%;
    height: 2rem;
    padding: 0;
    border-radius: 6px;
    text-align: center;
    margin: 0 8px;
    padding-top: 10px;
    font-size: .9rem;
     
}
a.btn1:hover {
    background-color: #252588;
    color: white;
}
