<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
            <h1>Cart Page Test</h1>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/footer.ejs') %>

