<%- (include('../includes/head.ejs')); %>
<%- (include('../includes/navigation.ejs')); %>


<link rel="stylesheet" href="/css/main.css">


<h1> <%= pageTitle %> </h1>

<%- (include('../includes/footer.ejs')) %>

