
<header>
    <ul>
        <div class="nav-bar">
            <li class="nav-bar__item">
                <a href="/">Home Page</a>
            </li>
            <li class="nav-bar__item">
                <a href="/add-customer">Add-Customer Page</a> 
            </li>
            <li class="nav-bar__item">
                <a href="/customers">Customers Page</a>
            </li>
            <li class="nav-bar__item">
                <a href="/add-product">Add-Product Page</a>
            </li>
            <li class="nav-bar__item">
                <a href="/products">Products Page</a>
            </li>
            <li class="nav-bar__item">
                <a href="/404">Product Detail</a>
            </li>
            <li class="nav-bar__item">
                <a href="/404">Cart</a>
            </li>
            <li class="nav-bar__item">
                <a href="/node_modules/">Checkout</a>
            </li>
            <li class="nav-bar__item">
                <a href="/404">Contact Info</a>
            </li>

        </div>
    </ul>
</header>



